.modal-xl {
  max-width: calc(100% - 1rem);
}

.modal-xl .container {
  padding-right: unset;
  padding-left: unset;
  margin-right: unset;
  margin-left: unset;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.modal-xl .container .row {
  justify-content: center;
  width: 100%;

}


.list-item-appear {
  opacity: 0.01;
}

.list-item-appear.list-item-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.list-item-enter {
  opacity: 0.01;
  transform: translate(0, -1em);
}

.list-item-enter.list-item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
  transform:translate(0,0);
}

.list-item-leave {
  opacity: 1;
}

.list-item-leave.list-item-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in, transform 300ms ease-in;
  transform:translate(0, 0em) scale(0,0);
}

.jumbotron {
  padding: 2rem 3rem;
}
.jumbotron >h2 {
  text-align: center;
  color: #47b368;
}
.bg-primary {
  background-color: #47b368 !important;
}
.navbar-light .navbar-brand {
  color: #f1f1f1;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #f1f1f1;
}
.table {
  color: #55754f;
}

.table th, .table td { 
  border-top: 1px solid rgba(70, 214, 44, 0.1);
}

.table thead th {
  border-bottom: 2px solid rgba(70, 214, 44, 0.1);
}
.btn-outline-dark:disabled:hover {
  color: #343a40;
}

.btn-secondary, .badge-danger {
  background-color: #f56167;
}

.btn-primary {
  background-color: #4cc5a3;
}

.backgroud-plant-login {
  position: absolute;
  bottom: 0;
  right: 0;
  stroke: green;
  opacity: 0.2;
  pointer-events: none;
}

.backgroud-plant-cultivos {
  position: fixed;
  bottom: 0;
  right: 10px;
  stroke: green;
  opacity: 0.5;
  pointer-events: none;
  width: 120px;
  height: 100px;
}


.modal-body .form-control, .modal-body .form-control:focus {
  background-color: rgba(255, 255, 255, 0.8);
}

input:-webkit-autofill {
  opacity: 0.8;
}