.modal-xl {
  max-width: calc(100% - 1rem);
}

.modal-xl .container {
  padding-right: unset;
  padding-left: unset;
  margin-right: unset;
  margin-left: unset;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.modal-xl .container .row {
  justify-content: center;
  width: 100%;

}
